@import url('./roots.css');

.contact-date{
    background: #dbf3dd;
    padding: 2%;
    border-radius: 12px;
    margin-bottom:18px;
    margin-left: 5%;
    margin-right: 10%;
    font-size: medium;
}

.form{
    background: white;
    padding:20px;
    border-radius:12px;
    margin-top:30px;
}

input,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:15px;
}

textarea{
    min-height:140px;
    resize:none;
}

.btn-submit{
    width:100%;
    padding:14px;
    background:#1b5e20;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:bold;
}

.btn-submit:hover{
    background:#2e7d32;
}

h1{
    margin-bottom:20px;
    margin-left: 10px;
}

.contact-tit{
    margin-left: 20px
}


h3{
    margin-bottom:20px;
   
}

.link-ub{
    background-image: url("https://i.pinimg.com/736x/bb/a3/e0/bba3e02c4c004262f0a5311da259bb11.jpg");
    height: 220px;
    margin: 4%;
    border-radius: 12px;

    position: relative;      
}

.aside-text{
    background-color: white;

    width: 60%;
    padding: 3%;

    border-radius: 10px;
    color: black;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
}


.aside-text:hover{
    color: var(--color-green-500) ;
}