:root{
  --primary: #2e7d32;
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-300: oklch(87.1% 0.15 154.449);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: #2e7d32;
  --font-weight-black: 900;
  --color-button-green: #39a03e;
  --color-white: #ffffff;
  --foot-font: 0.875rem;
  --color-hover: rgb(221, 236, 224);
}
html{
  font-size: 12px ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
}