:root{
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-300: oklch(87.1% 0.15 154.449);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --font-weight-black: 900;
  --color-button-green: #39a03e;
  --color-white: #ffffff;

}